:root {
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255, 255, 255;
    --font-au-color: 0, 61, 115
}

@font-face {
    font-family: AUPassata;
    font-weight: bold;
    src: url("AUPassata_Bold.ttf");
}

@font-face {
    font-family: AUPassata;
    font-weight: normal;
    src: url("AUPassata_Rg.ttf");
}

.font-au {
    font-family: AUPassata, sans-serif;
    color: rgb(var(--font-au-color));
}

.btn-outline-dark {
    background: var(--bs-body-bg);
    color: rgb(var(--font-au-color));
    border: none;
}

.btn-outline-dark:hover {
    background: rgb(var(--font-au-color));
}

/*noinspection CssUnusedSymbol*/
.p5Canvas {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    /*noinspection CssUnknownProperty*/
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}