:root {
    --bs-body-bg: #fff;
    --bs-body-bg-rgb: 255, 255, 255;
    --font-au-color: 0, 61, 115
}

@font-face {
    font-family: 'AU Passata';
    font-display: swap;
    src: url("https://fonts.au.dk/fonts/autohinting/aupassata_light-webfont.eot");
    src: url("https://fonts.au.dk/fonts/autohinting/aupassata_light-webfont.eot?#iefix") format("embedded-opentype"), url("https://fonts.au.dk/fonts/autohinting/aupassata_light-webfont.woff2") format("woff2"), url("https://fonts.au.dk/fonts/autohinting/aupassata_light-webfont.woff") format("woff"), url("https://fonts.au.dk/fonts/autohinting/aupassata_light-webfont.ttf") format("truetype"), url("https://fonts.au.dk/fonts/autohinting/aupassata_light-webfont.svg#AUPassataLight") format("svg");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: 'AU Passata';
    font-display: swap;
    src: url("https://fonts.au.dk/fonts/autohinting/aupassata_rg-webfont.eot");
    src: url("https://fonts.au.dk/fonts/autohinting/aupassata_rg-webfont.eot?#iefix") format("embedded-opentype"), url("https://fonts.au.dk/fonts/autohinting/aupassata_rg-webfont.woff2") format("woff2"), url("https://fonts.au.dk/fonts/autohinting/aupassata_rg-webfont.woff") format("woff"), url("https://fonts.au.dk/fonts/autohinting/aupassata_rg-webfont.ttf") format("truetype"), url("https://fonts.au.dk/fonts/autohinting/aupassata_rg-webfont.svg#AUPassataRegular") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'AU Passata';
    font-display: swap;
    src: url("https://fonts.au.dk/fonts/autohinting/aupassata_bold-webfont.eot");
    src: url("https://fonts.au.dk/fonts/autohinting/aupassata_bold-webfont.eot?#iefix") format("embedded-opentype"), url("https://fonts.au.dk/fonts/autohinting/aupassata_bold-webfont.woff2") format("woff2"), url("https://fonts.au.dk/fonts/autohinting/aupassata_bold-webfont.woff") format("woff"), url("https://fonts.au.dk/fonts/autohinting/aupassata_bold-webfont.ttf") format("truetype"), url("https://fonts.au.dk/fonts/autohinting/aupassata_bold-webfont.svg#AUPassataBold") format("svg");
    font-weight: 700;
    font-style: normal
}

body {
    font-family: "AU Passata", sans-serif;
    color: rgb(var(--font-au-color));
    font-size: 2rem;
}

h1 {
    font-size: 7.2rem;
}

.font-monospace {
    font-size: initial;
}

.text-justify {
    text-align: justify;
}

.btn-outline-dark {
    background: var(--bs-body-bg);
    color: rgb(var(--font-au-color));
    border: none;
}

.btn-outline-dark:hover {
    background: rgb(var(--font-au-color));
}

/*noinspection CssUnusedSymbol*/
.p5Canvas {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    /*noinspection CssUnknownProperty*/
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}